
iso/.build/
iso/binary/
iso/binary.modified_timestamps
iso/cache/
iso/chroot/
iso/local/
iso/*.contents
iso/*.files
iso/*.packages
iso/chroot.files
iso/chroot.packages.*
iso/*.log
iso/wget-log*
iso/build.log
*.iso
*.img
repo/*.deb