* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.iso binary
*.img binary
*.deb binary
*.zip binary
*.gz binary
*.xz binary
iso/auto/config text eol=lf
iso/config/* text eol=lf
iso/config/hooks/** text eol=lf
iso/config/package-lists/** text eol=lf
packages/**/DEBIAN/* text eol=lf
packages/**/usr/local/bin/* text eol=lf
packages/**/*.desktop text eol=lf
packages/**/*.xml text eol=lf
packages/**/*.json text eol=lf
packages/**/*.html text eol=lf
packages/**/*.txt text eol=lf
packages/**/etc/motd text eol=lf